!!! 5
html(lang='en', ng-app='pm2-web')
  head
    title= title
    script.
      var settings = {
        ws: '#{ws}'
      };
    script(type='text/javascript', src='/js/angular/angular.js')
    script(type='text/javascript', src='/js/angular/angular-route.js')
    script(type='text/javascript', src='/js/bootstrap/ui-bootstrap-tpls-0.7.0.min.js')
    script(type='text/javascript', src='/js/monitor.js')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    article(ng-view)

