@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(font-awesome.min.css);
@import url("reset.css");
body {
  background: url(../img/satinweave.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3a3a3b;
}
h1 {
  height: 0;
  padding: 60px 0 0 0;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
  margin: 10px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  h1 {
    background-image: url(../img/logo@2x.png);
    background-size: auto 60px;
  }
}
/* Bootstrap overrides */
.nav,
.pagination,
.carousel a {
  cursor: pointer;
}
.nav {
  margin-bottom: 10px;
}
.table {
  margin: 0;
}
.table th {
  padding-left: 5px;
  font-weight: normal;
}
.table td {
  text-align: left;
  padding-left: 5px;
}
/* /Bootstrap overrides */
article {
  width: 90%;
  margin: 0 auto;
  background: #FFF;
  padding: 10px 10px 10px 10px;
}
th,
figcaption {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  padding: 4px;
  text-align: left;
}
section {
  clear: both;
  background-color: #F8F8F8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
section h2 {
  font-size: 14px;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 0 5px;
  padding: 5px 0;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  color: #9b9bad;
}
.system table {
  width: 50%;
  float: left;
}
.system figure {
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.system figure figcaption {
  border-bottom: 1px solid #DDD;
  padding-bottom: 9px;
  margin-bottom: 17px;
  font-weight: normal;
}
.system figure div {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  width: 50%;
  text-align: center;
  padding-top: 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}
.system figure div:nth-child(2) {
  background: #e5fade;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.system figure div:last-child {
  background: #fcb6b7;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.system table span {
  display: block;
}
.processes {
  margin-top: 10px;
}
.processes .script {
  width: auto;
}
.processes .script p {
  width: 100%;
  overflow: hidden;
}
.processes .script .name {
  font-size: 18px;
  margin: 2px 0 4px 0;
  font-weight: bold;
}
.processes .script .executable {
  display: block;
  font-size: 14px;
  margin: 5px 0 0 0;
  font-family: Monaco, monospace;
  color: #bbbbbb;
}
.processes .status i.icon-ok-circle {
  color: #33b763;
}
.processes .status i.icon-ok-circle.offline {
  display: none;
}
.processes .status i.icon-ban-circle {
  color: #920e00;
}
.processes .status i.icon-ban-circle.online {
  display: none;
}
.processes .actions a {
  color: #888888;
  cursor: pointer;
  text-decoration: none;
}
.processes .actions a.icon-play:hover {
  color: #33b763;
}
.processes .actions a.icon-remove:hover {
  color: #ff1100;
}
.processes .actions a.icon-refresh:hover {
  color: #33b763;
}
