@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(font-awesome.min.css);
@import url("reset.css");

@blue: #9B9BAD;
@lighterblue: #58EAE0;
@lightblue: #EBF9FA;
@sand: #FBE9E0;
@cardboard: #ded9d5;
@barelywhite: #f8f8fa;
@green: #33B763;
@lightergreen: #A2FBDC;
@darkgray: #3A3A3B;
@yellow: #FBF586;

@freememory: #E5FADE;
@usedmemory: #fcb6b7;
@processactions: #888;
@killaction: #F10;
@restartaction: @green;
@processonline: #33B763;
@processoffline: #920e00;
@processerror: #F10;
@scriptname: #BBB;

body {
	background: url(../img/satinweave.png);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: @darkgray;
}

h1 {
	height: 0;
	padding: 60px 0 0 0;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
	margin: 10px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	h1 {
		background-image: url(../img/logo@2x.png);
		background-size: auto 60px;
	}
}

/* Bootstrap overrides */
.nav, .pagination, .carousel a {
	cursor: pointer;
}
.nav {
	margin-bottom: 10px;
}
.table {
	margin: 0;
}
.table th {
	padding-left: 5px;
	font-weight: normal;
}
.table td {
	text-align: left;
	padding-left: 5px;
}
/* /Bootstrap overrides */

article {
	width: 90%;
	margin: 0 auto;
	background: #FFF;
	padding: 10px 10px 10px 10px;
}

th, figcaption, .information h3 {
	color: rgba(0,0,0,0.3);
	font-size: 13px;
	padding: 4px;
	text-align: left;
}

section {
	clear: both;
	background-color: #F8F8F8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;

	h2 {
		font-size: 14px;
		font-family: 'Abel', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 0 0 5px;
		padding: 5px 0;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-left-radius: 6px;
		color: @blue;
	}
}

.system {
	table {
		width: 50%;
		float: left;
	}

	figure {
		display: inline-block;
		width: 50%;
		margin-top: 10px;
		margin-bottom: 10px;

		figcaption {
			border-bottom: 1px solid #DDD;
			padding-bottom: 9px;
			margin-bottom: 17px;
			font-weight: normal;
		}

		div {
			display: inline-block;
			vertical-align: top;
			height: 28px;
			width: 50%;
			text-align: center;
			padding-top: 14px;
			font-size: 14px;
			text-transform: uppercase;
			color: rgba(0,0,0,0.4);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		div:nth-child(2) {
			background: @freememory;
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-bottomleft: 6px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		div:last-child {
			background: @usedmemory;
			-webkit-border-top-right-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			-moz-border-radius-topright: 6px;
			-moz-border-radius-bottomright: 6px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}

	table {
		span {
			display: block;
		}
	}
}

.processes {
	margin-top: 10px;

	article {
		width: 100%;
		background: transparent;
		padding: 0;
	}

	article:hover p {
		background-color: #EEE;
	}

	article h3 {
		display: none;
	}

	article:first-of-type h3 {
		display: block;
		border-bottom: 1px solid #DDD;
		padding-bottom: 9px;
	}

	article:first-of-type li.actions p {
		margin-top: 26px;
		border-top: 1px solid #DDD;
	}

	article:first-of-type .information {
		border-top: none;
		margin-top: 7px;
	}

	.information {
		border-top: 1px solid #DDD;
		display: flex;

		li {
			display: inline-block;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin: 0;

			p {
				padding: 15px 4px;
				margin: 0;
			}
		}

		.pid {
			width: 80px;
			flex-grow: 0;
		}

		.script {
			flex-grow: 1;
		}

		.restarts, .uptime, .status, .cpu, .memory, .actions {
			width: 80px;
			flex-grow: 0;

			p, h3 {
				text-align: center;
			}
		}

		.status {
			width: 50px;

			i.icon-ok-circle {
				color: @processonline
			}

			i.icon-ban-circle {
				color: @processoffline
			}

			i.icon-exclamation-sign {
				color: @processerror
			}
		}

		.actions {
			a {
				color: @processactions;
				cursor: pointer;
				text-decoration: none;
			}

			a.icon-play:hover {
				color: @restartaction;
			}

			a.icon-remove:hover {
				color: @killaction;
			}

			a.icon-refresh:hover {
				color: @restartaction;
			}
		}
	}

	.executable {
		display: block;
		font-size: 14px;
		margin: 5px 0 0 0;
		font-family: Monaco, monospace;
		color: @scriptname;
	}
}

@media only screen and (max-width: 700px) {
	.system {
		table, figure {
			width: 100%;
			float: none;
		}
	}
}