<h1>PM2 Process Monitor</h1>
<ul class="nav nav-tabs" ng-controller="HostListController" ng-hide="tabs.length == 1">
	<li ng-repeat="tab in tabs" ng-class="{active: tab.selected}">
		<a ng-click="changeHost(tab.title)" data-toggle="tab">{{tab.title}}</a>
	</li>
</ul>
<section class="system" ng-controller="SystemController">
	<h2>{{system.hostname}}</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Processes</th>
				<th>CPUs</th>
				<th>Load</th>
				<th>Uptime</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{system.process_count}}</td>
				<td>{{system.cpu_count}}</td>
				<td><span ng-repeat="load in system.load_avg track by $index">{{load | decimalPlaces:2}}</span></td>
				<td>{{system.uptime | humanise}}</td>
			</tr>
		</tbody>
	</table>
	<figure id="memory">
		<figcaption>Memory ({{system.memory_total | memory}} total)</figcaption>
		<div style="width: {{system.memory_free_percent}}%">{{system.memory_free | memory}} Free</div><div style="width: {{system.memory_used_percent}}%">{{system.memory_used | memory}} Used</div>
	</figure>
</section>
<section class="processes" ng-controller="ProcessListController">
	<h2>Processes</h2>
	<article ng-repeat="process in processes">
		<ul class="information">
			<li class="pid">
				<h3>PID</h3>
				<p>{{process.pid}}</p>
			</li>
			<li class="script">
				<h3>Name</h3>
				<p>{{process.name}}</p>
			</li>
			<li class="restarts">
				<h3>Restarts</h3>
				<p>{{process.restarts}}</p>
			</li>
			<li class="uptime">
				<h3>Uptime</h3>
				<p>{{process.uptime | humanise}}</p>
			</li>
			<li class="status">
				<h3>Status</h3>
				<p>
					<i title="Online" ng-show="process.status == 'online'" class="icon-ok-circle {{process.status}}"></i>
					<i title="Stopped" ng-show="process.status == 'stopped'" class="icon-ban-circle {{process.status}}"></i>
					<i title="Error!" ng-show="process.status == 'errored'" class="icon-exclamation-sign {{process.status}}"></i>
				</p>
			</li>
			<li class="cpu">
				<h3>CPU</h3>
				<p>{{process.cpu | decimalPlaces:2}}%</p>
			</li>
			<li class="memory">
				<h3>Memory</h3>
				<p>{{process.memory | memory}}</p>
			</li>
			<li class="actions">
				<p>
					<a class="icon-play" title="Start process" ng-hide="process.status == 'online'"  ng-click="start(process.id)"></a>
					<a class="icon-remove" title="Stop process" ng-hide="process.status != 'online'" ng-click="stop(process.id)"></a>
					<a class="icon-refresh" title="Restart process" ng-hide="process.status != 'online'" ng-click="restart(process.id)"></a>
				</p>
			</li>
		</ul>
		<!--<div class="details">
			<h3>Executable</h3>
			<p title="{{process.script}}">{{process.script}}</p>
		</div>-->
	</article>
</section>